<div>
  <form #heroForm="ngForm">
    {{diagnostic}}
    <div class="form-group">
      <label for="newExercise.exerciseName">Exercise</label>
      <select class="form-control" id="exercise" required [(ngModel)]="newExercise.exerciseName" name="exerciseName">
        <option *ngFor="let exercise of mainExerciseList" [value]="exercise.value">{{exercise.value}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="newExercise.trainingMax">Training Max</label>
      <input type="text" class="form-control" id="trainingMax" [(ngModel)]="newExercise.trainingMax" name="trainingMax">
    </div>
    <button type="button" class="btn btn-default" (click)="addExercise()">Add Exercise</button>
  </form>
</div>

<div *ngFor="let movement of workout">
  <app-exercise [exercise]="movement"></app-exercise>
</div>